<!DOCTYPE html>
<html>
    <head>
        <title>{{ title }}</title>
        <style>
            table {
            border-collapse: collapse;
            width: 100%;
            }

            td, th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
            }

            tr:nth-child(even) {
            background-color: #dddddd;
            }

            #photos {
                display: flex;
                flex-direction: row;
                align-items: center;
            }
        </style>
    </head>
    <body>
        <table>
            <tr>
                <th>Nearby Parks</th>
            </tr>
            {% for park in park_data %}
                <tr>
                    <td>{{ park.name }}</td>
                    <td>Address: {{ park.address }}</td>
                    <td>Rating: {{ park.rating }}</td>
                    <td><div id='photos'><img src="https://maps.googleapis.com/maps/api/place/photo?parameters&maxheight=400&maxwidth=400&photo_reference={{ park.photo_ref }}&key={{ API_KEY }}"></img></div></td>
                </tr>
            {% endfor %}
        </table>
    </body>
</html>